<!DOCTYPE html>
<html>
<head> <!-- Document HEader starts here -->
<meta name="keywords" content="maintenance tracker, car, maintenance, andela, bootcamp, project" /> <!-- Keywords used for search engine indexing! -->
<meta name="description" content="A system to allow reporting of maintenance and repairs request, to track the maintenance process and escalate unusual delays."/> <!--Website Description -->
<meta name="revised" content="Bolaji Olajide, 19-January,2016" /> <!-- Code revised by Bolaji Olajide -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> <!-- the document consists of mostly text and html characters -->
<title>Dashboard | Maintenance Tracker</title>
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Arsenal|Slabo+27px" rel="stylesheet">
</head>
<body>
  <h1 style="text-align: center;font-size: 2.4rem;"> WELCOME,  </h1>

  <div class="menu">
    <p class="menubar"><a href='\track'> Track Request </a></p>
    <p class="menubar"><a href='\staff'> Maintenance Staff </a></p>
    <p class="menubar"><a href='\approve'> Maintenance Approve/Reject </a></p>
    <p class="menubar"><a href='\report'> Report Case </a></p>
    <p class="menubar"><a href='\'> Sign Out </a></p>
  </div>
  <script src="/assets/scripts/admin.js"></script>
</body>
</html>
