<!DOCTYPE html>
<html>
<head> <!-- Document HEader starts here -->
<meta name="keywords" content="maintenance tracker, car, maintenance, andela, bootcamp, project" /> <!-- Keywords used for search engine indexing! -->
<meta name="description" content="A system to allow reporting of maintenance and repairs request, to track the maintenance process and escalate unusual delays."/> <!--Website Description -->
<meta name="revised" content="Bolaji Olajide, 19-January,2017" /> <!-- Code revised by Bolaji Olajide -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> <!-- the document consists of mostly text and html characters -->
<title>Maintenance Tracker</title>
<link rel="stylesheet" type="text/css" href="/assets/css/indexStyle.css">
<link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
</head>
<body>
    <header>
        <p>Maintenance Tracker App</p>
    </header>

    <div class="create">
      <input type="text" id="username" name="password" size="10" maxlength="75" placeholder="Username" style="padding-bottom:10px;"/> <br />
      <input type="password" id="username" name="password" size="30" placeholder="Password" /> <br />
      <br />
      <button id="createBtn" onclick="createAccount()"> Create Account </button>
      <p style="color:white;float:right;margin-right: 75px;"><a href='\'> Sign In </a></p>
      <p id='errorDisplay'></p>
      <script src="/assets/scripts/admin.js"></script>
</body>
</html>
