<!DOCTYPE html>
<html>
<head> <!-- Document HEader starts here -->
<meta name="keywords" content="maintenance tracker, car, maintenance, andela, bootcamp, project" /> <!-- Keywords used for search engine indexing! -->
<meta name="description" content="A system to allow reporting of maintenance and repairs request, to track the maintenance process and escalate unusual delays."/> <!--Website Description -->
<meta name="revised" content="Bolaji Olajide, 19-January,2017" /> <!-- Code revised by Bolaji Olajide -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> <!-- the document consists of mostly text and html characters -->
<title> Maintenance Tracker | Login </title>
<link rel="stylesheet" type="text/css" href="/assets/css/indexStyle.css">
<link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
</head>
<body>
  <header>
    <p>Maintenance Tracker App</p>
  </header>

  <div class="login">
    <form method="POST" action='/'>
      <input type="text" id="username" name="username" size="10" maxlength="75" placeholder="Username" style="padding-bottom:10px;"/> <br />
      <input type="password" id="password" name="password" size="30" placeholder="Password" /> <br />
      <br />
      <!-- <button id="createBtn" onclick="login()"> Login </button> -->
      <button id="createBtn"> Login </button>
      <!-- <input type="submit"> Login </input> -->
      <p style="color:#0b0b0b"><a href='#'> Forgot Password? </a></p>
    <form>
  </div>
  <!-- <script src="/assets/scripts/login.js"></script> -->
</body>
</html>
