html{
  background-image: url('/assets/img/background.jpg');
  background-color: #eee;
  font-family: 'Slabo 27px', serif;
  font-family: 'Arsenal', sans-serif;
  color: #0b0b0b;
  position: relative;
  margin:0;
}

input[type="text"],input[type="email"],textarea,input[type="password"] {
    width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    font-size: 20px;
    color: #989898;
    margin-bottom: 20px;
}

button{
    padding: 20px;
    width: 30%;
    /* float: left; */
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.menubar {
  text-align: right;
  padding-right: 10px;
  font-size: 2rem;
}

.menu {
  margin: 2px;
  background-color: #0b0b0b;
  color: #eee;
  float: left;
  width: 20%;
}

body {
  margin: 0 auto;
}

a {
  color:red;
  text-decoration: none;
}


a:link {
  color:red;
}

a:visited {
  color:#a66;
}

a:focus {
  color:#0b0b0b;
  text-decoration: none;
}

a:hover {
  color:#a66;
  text-decoration: none;
  background-color: white;
  opacity: 0.5;
}

a:active {
  color:#0b0b0b;
  text-transform: uppercase;
}

.container {
  float: right;
  width: 65%;
  margin-top: 40px;
}

.hidden {
  display: none;
}

.show {
  display: inline;
}

th, td {
  width: 10%;
  font-size: 1.5rem;
  border: 2px solid black;
  text-align: center;
}

table {
  display: block;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

option {
  font-family: 'Arsenal', sans-serif;
  font-size: 1.3rem;
}
